# Node
node_modules

# Build
dist

# Go
tmp

# Uploads

# Ignore everything in "uploads"
/uploads/**/*
# Keep the "admin" and "shared" folders
!/uploads/
!/uploads/admin/
!/uploads/admin/.gitkeep
!/uploads/shared/
!/uploads/shared/.gitkeep

# Docker
postgres-data

# Environment Variables
.env